<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Curriculum Vitae</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  
    <script src="app.js"></script>
    <script src="controllers/main.ctrl.js"></script>
    <script src="controllers/education.ctrl.js"></script>

</head>

<body ng-app="app" ng-controller ="MainController as main" >
  <nav class="navbar navbar-default" >
         <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="main.html">{{main.title}}</a>
            </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="tabnav in main.tabsnav">
  		      	   <a id ={{tabnav.id}} ng-click="main.goTo(tabnav.id)"> {{tabnav.tabTitle}}</a>
  				     </li>
             </ul>
           </div><!--/.nav-collapse -->
         </div><!--/.container-fluid -->
  </nav>
  <section id="me">
        <div class="jumbotron">
          <section class="container">
            <div class="col-lg-2"><img src="https://www.reactos.org/sites/all/themes/Porto_sub/images/avatar.jpg"alt = "avatar" ng-model = "main.avatar" height="200" width="175"></div>
            <div class="col-lg-8 ">
                <h2>{{main.name}}</h2>
                <h3>{{main.job}}</h3>
                <h3>{{main.societyName}}</h3>
            </div>
          </section>
        </div>
  </section>
  <section id="mainContent" ng-init="main.mainContent = 'education.html'">
      <div ng-include="main.mainContent"></div>
  </section>
  <footer class="footer">
      <div class="container-fluid">
        <div class="col-lg-3">
           <ul id="FooterList">
              <li class="itemFooter" ng-repeat="tabnav in main.tabsnav" >
                   <a href={{tabnav.url}}>{{tabnav.tabTitle}}</a>
              </li>
            </ul>
        </div>
        <div id= "FooterText" class="col-lg-8">
          <p>maezrkgkazehfdkmlqskdhfqdhkf,c eoaty aytpâc yer ^ypeazy rtopt ^paz yt</p>
        </div>
      </div>    
  </footer>
</body>
</html>
